amqp==5.2.0
anyio==4.0.0
asgiref==3.7.2
async-timeout==4.0.3
auditlog3==1.0.1
billiard==4.2.0
celery==5.3.6
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.7
django-admin-honeypot-updated-2021==1.2.0
django-grappelli==3.0.8
django-ipware==6.0.1
django-jazzmin==2.6.0
exceptiongroup==1.1.3
future==0.18.3
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
jdatetime==4.1.1
kombu==5.3.4
packaging==23.2
persiantools==3.0.1
prompt-toolkit==3.0.41
pyaes==1.6.1
Pyrogram==2.0.106
pyromod==1.5
PySocks==1.7.1
python-dateutil==2.8.2
python-ipware==2.0.0
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
TgCrypto==1.2.5
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.12
